name: Sync Leaderboard to Hugging Face
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
          
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: |
          git config --global user.email "lukas.mosser@gmail.com"
          git config --global user.name "LukasMosser"
          git clone https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/seismic-arena repo
          cp src/app.py repo/src/app.py
          cp src/score_db.py repo/src/score_db.py
          cp requirements_hub.txt repo/requirements.txt
          cd repo
          git add src/app.py requirements.txt
          git commit -m "Update src/app.py and requirements.txt"
          git push