name: Sync Leaderboard to Hugging Face
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
          
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: |
          # Configure Git
          git config --global user.email "lukas.mosser@gmail.com"
          git config --global user.name "LukasMosser"

          # Clone the repository
          git clone https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/seismic-arena seismic-arena

          # Copy files directly into the base folder of the repository
          cp src/app.py seismic-arena/app.py
          cp src/score_db.py seismic-arena/score_db.py
          cp requirements_hub.txt seismic-arena/requirements.txt

          # Change to the repository directory
          cd seismic-arena

          # Add and commit changes
          git add app.py score_db.py requirements.txt
          git commit -m "Update app.py, score_db.py, and requirements.txt"

          # Push changes to the remote repository
          git push https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/seismic-arena main